.add-todo {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
        margin: 0;
    }

    button {
        align-self: flex-end;
        max-width: 320px;
        width: 100%;
    }
}