.todo-wrapper {
    max-width: 1245px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-list {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.todo-switcher {
    display: flex;
    align-items: center;
    gap: 15px;
}
