.todo-wrapper {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
